services:
  # 
  medical_agent_api:
    # 
    build:
      context: .
      dockerfile: Dockerfile
    
    # 
    #
    ports:
      - "8080:8000"
      
    #  'app:app'
    command: ["uvicorn", "app:app", "--host", "0.0.0.0", "--port", "8000"]
    
    # 
    restart: always
